*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: darkslateblue;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 4rem auto;
  text-align: center;
}

.container h1{
  color: white;
  text-transform: uppercase;
}

.container .card{
  margin: 3rem auto;
  width: 50%;
  background: white;
  border-radius: 1rem;
  padding: 1rem;
}

.container .form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .card input{
  margin: 1rem 0;
  width: 50%;
  height: 30px;
}

.container .card span{
  margin: 1rem 0;
}

.container .card button{
  cursor: pointer;
  text-transform: uppercase;
  padding: .4rem 1rem;
}

.container .result{
  margin: 1.5rem 0;
  line-height: 1.8rem;
}

.container .result a{
  text-decoration: none;
  text-transform: uppercase;
}

.container .result .text div{
  display: inline-block;
  margin: 0 2rem;
}

.d-none{
  display: none;
}

.result i{
  font-size: 2rem;
}

.result .positive i{
  color: #00ff00;
}

.result .negative i{
  color: #ffd13b;
}

.success{
  color: #00ff00;
}

.fail{
  color: red;
}

.even{
  color: #ffd13b;
}
